* {
    box-sizing: border-box;
}

.top-menu {
  position: relative;
  background: rgb(189,185,185);
}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-main:after {
  content: "";
  display: table;
  clear: both;
}
.left-item {float: left;}
.right-item {float: right;}
.menu-main a {
  text-decoration: none;
  display: block;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  transition: .3s linear;
}

.row {
    margin: 10px;
    padding: 10px;
}

.btn {
    color: black;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: blue;
}

.btn-primary:hover {
    color: white;
    background-color: red;
}

a i {
    vertical-align: text-bottom;
}

.btn-warning {
    color: white;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-success {
    color: white;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs:after {
  content: "";
  display: table;
  clear: both;
}

.tab {
    padding: 10px;
}

.tab-content {
    border-top: 1px solid gray;
}

.top-border {
    border-top: 1px solid gray;
}

.bottom-border {
    border-bottom: 1px solid gray;
}

.btn-without-border {
    color: black;
    padding: 5px;
    text-decoration: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border-top: 1px solid gray;
    padding: 18px;
    text-align: left;
}

td {
    border-top: 1px solid #ddd;
    padding: 14px;
    text-align: left;
}

.active {
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.userform_row {width: 100%; }
.block_field{margin: 10px;}
.userform_col_1{display: inline-block; width: 40%; float: left;}
.userform_col_2{display: inline-block; width: 40%; float: left;}
.wide {width: 100%; box-sizing: border-box;}
.menu-main a:hover {background: #777777;}

.col-left {
    float: left;
    width: 100%;
    padding: 20px;
}

.col-right {
    float: left;
    width: 100%;
    padding: 20px;
}

.form-bulletin {
    border-radius: 5px;
    border: 1px solid #dff0d8;
}

@media screen and (min-width: 600px) {
    main {
	padding-left: 15%;
	padding-right: 15%;
    }
    .col-left, .col-right {
	float: left;
	width: 50%;
    }

}

.form-bulletin input[type="text"], .form-bulletin textarea {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
}

.form-bulletin header {
    padding: 12px 10px;
    color: #3c763d;
    background-color: #dff0d8;
    border-bottom: 1px solid #d6e9c6;
}

.form-bulletin main {
    padding: 10px;
}


